﻿    #lblfilter123{
        display: inline-block;
        background: linear-gradient(to bottom,#4eabde 0%,#31449b 100%);
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        color: #fff;
        padding: 10px 28px;
        border-radius: 25px;
        outline: none;
        float: left;
        clear: none;
        font-weight: 600;
        width: 25%;
    }

    #lblfilter123:hover,
    #lblfilter123:focus {
        background: linear-gradient(to bottom,#31449b 0%,#4eabde 100%);
        cursor: pointer;
    }

    #lblfilter, 
    #lblfilterR {
        font-weight: 700 !important;
        position: relative;
        left: -15px !important;
        margin-bottom: 0px !important;
    }

    .table-title {
        font-size: 200%;
        font-weight: bold;
    }

    #content{
        min-width: 400px;
    }