.bimg_1_1 {
	background: url("/vielee/css/qvielee/img/md_1_1.png") no-repeat 0px 0px; left: 53px; top: 50%; width: 269px; height: 599px; margin-top: -300px;
}
.bimg_1_2 {
	background: url("/vielee/css/qvielee/img/md_1_2.png") no-repeat 0px 0px; left: 210px; top: 50%; width: 391px; height: 305px; margin-top: -152px;
}
.bimg_2 {
	background: url("/vielee/css/qvielee/img/md_2.png") no-repeat 0px 0px; left: -115px; top: 50%; width: 588px; height: 451px; margin-top: -225px;
}
.bimg_3 {
	background: url("/vielee/css/qvielee/img/md_3.png") no-repeat 0px 0px; left: -70px; top: 50%; width: 588px; height: 451px; margin-top: -225px;
}
.bimg_4_1 {
	background: url("/vielee/css/qvielee/img/md_4_1.png") no-repeat 0px 0px; left: -50px; top: 50%; width: 548px; height: 493px; margin-top: -246px;
}
.bimg_4_2 {
	background: url("/vielee/css/qvielee/img/md_4_2.png") no-repeat 0px 0px; left: 225px; top: 50%; width: 346px; height: 355px; margin-top: -178px;
}
