html {
	width: 100%; height: 100%; color: rgb(51, 51, 51);
}
body {
	width: 100%; height: 100%; color: rgb(51, 51, 51); 
}
html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}

 
.flashData {
	height: 23px; text-align: right; line-height: 23px;
}
       
.flashData a:link {
	color: rgb(255, 255, 255);
}
.flashData a:visited {
	color: rgb(255, 255, 255);
}
.flashData a:hover {
	text-decoration: underline;
}
.mpage {
	background: rgb(255, 106, 0); margin: 0px auto; width: 100%; height: 100%; overflow: hidden; position: relative; 
}
.anitOut {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1;
}
