#ascrail2000 div{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.slimScrollBar.ui-draggable{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
    border-radius: 8px !important;
    background-color:#cfcfcf!important;
}