// Colors
// Accents
$blue: #205d96;
$orange: #f8a31f;
$red: #E51400;
$green: #339933;
$lime: #8CBF26;
$teal: #00ABA9;
$purple: #FF0097;
$brown: #A05000;
$pink: #E671B8;
$magenta: #A200FF;
$grey: #333333;
$darkBlue: #204e81;
$lightRed: #e63a3a;
$lightGrey: #666666;
$satBlue: #2c5e7b;
$satGreen: #56af45;
$grey-3: #eee;

// Greys
$dark: #2a2a2a;
$light: #FFF;
$bg: #eee;

// Fonts
$font: #e9e9e9;

$colornames: "blue" "orange" "red" "green" "lime" "teal" "purple" "brown" "pink" "magenta" "grey" "darkblue" "lightred" "lightgrey" "satblue" "satgreen" "grey-3";
$colors: $blue $orange $red $green $lime $teal $purple $brown $pink $magenta $grey $darkBlue $lightRed $lightGrey $satBlue $satGreen $grey-3; 