﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="APITest.aspx.cs" Inherits="HJT.Form.APITest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
      Name :  <asp:TextBox ID="txtName" runat="server"></asp:TextBox> <br />
      IC :  <asp:TextBox ID="txtIC" runat="server"></asp:TextBox> <br />
      Old IC :  <asp:TextBox ID="txtOldIC" runat="server"></asp:TextBox> <br />
      Type :   <asp:TextBox ID="txtTYpe" runat="server"></asp:TextBox> <br />
        <asp:Button ID="CHeck" runat="server" Text="Check" OnClick="CHeck_Click" />
    </div>
    </form>
</body>
</html>
