﻿#footer
{
    font-family: Trebuchet MS, sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #5d5d5d;
    background-color: #e6e6e6;
}

#rt-footer
{
    padding: 27px 0 22px 0;
}

.rt-container
{
    margin: 0 auto;
    width: 960px;
}

    .rt-container .rt-grid-6
    {
        width: 460px;
    }

.rt-grid-6
{
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.clear
{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

div.rt-block
{
    position: relative;
}

.copyright
{
    padding-bottom: 0;
    font-size: 11px;
    color: #544b56;
    text-transform: uppercase;
}
