﻿#navigation
{
    margin: auto;
    margin-top: 0.5em;
    width: 98%;
    border: 2px solid #d3d9dd;
}

.theme-orange #navigation .dropdown-menu
{
    border: 0;
}

#Menux a.dynamic
{
    min-height: 22px;
}

#Menux a.level1.static
{
    padding-right: 15px;
    padding-left: 15px;
}

.level1
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .level1 .level1
    {
        display: inline-block;
        padding: 10px 15px;
    }

#navigation > div.container-fluid > a
{
    display: none;
}

#Menux a.level1
{
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    white-space: nowrap;
}

#Menux a.level1, #Menux a.level2, #Menux a.level3, #Menux a.level4, #Menux a.level5, #Menux a.level6
{
    cursor: pointer;
}

.theme-orange #navigation .main-nav > li > a:hover,
.theme-orange #navigation .dropdown-menu > li > a:hover,
a.level1:hover, #navigation .dropdown-menu > li > a:hover
{
    /*background: #91959b;*/
    background: #656565;
    color: white;
    -moz-transition: background-color 0.4s ease 0s;
    -o-transition: background-color 0.4s ease 0s;
    -webkit-transition: background-color 0.4s ease 0s;
    transition: background-color 0.4s ease 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -webkit-transition-property: background-color;
    transition-property: background-color;
}

#navigation .user .icon-nav
{
    float: left;
}

#navigation .level2.dropdown-menu, #navigation .level1.dropdown-menu
{
    border-top: 0;
}

#navigation .user .icon-nav > li
{
    margin-right: 3px;
    float: left;
}

#navigation .user .dropdown
{
    float: left;
}

.headerIcon
{
    color: white;
    float: right;
    margin-top: 10px;
    font-size: medium;
    cursor: default;
}

#navigation #brand
{
    float: left;
}

#navigation .user
{
    float: right;
}

.parentMenu-arrow
{
    background: url('/Images/icon-right-black.png');
    /*background: url('/Images/icon-right-white.png');*/
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 8px;
    vertical-align: middle;
}

.childMenu-arrow
{
    background: url('/Images/icon-right-black-sub.png');
    /*background: url('/Images/icon-right-white-sub.png');*/
    display: inline-block;
    margin-left: 20px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.theme-orange #navigation .main-nav > li > a:hover .parentMenu-arrow,
.theme-orange #navigation .dropdown-menu > li > a:hover .parentMenu-arrow,
a.level1:hover, #navigation .dropdown-menu > li > a:hover .parentMenu-arrow
{
    /*background: url('/Images/icon-right-black.png');*/
    background: url('/Images/icon-right-white.png');
}

.theme-orange #navigation .main-nav > li > a:hover .childMenu-arrow,
.theme-orange #navigation .dropdown-menu > li > a:hover .childMenu-arrow,
a.level1:hover, #navigation .dropdown-menu > li > a:hover .childMenu-arrow
{
    /*background: url('/Images/icon-right-black-sub.png');*/
    background: url('/Images/icon-right-white-sub.png');
}
