﻿body
{
    /*background: url('/images/Globe-Transparent.png') no-repeat right ;*/
    /*background: url('/img/Lanfar/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    /*font-family: Arial;*/ /*,serif, Arial,Verdana,Tahoma,Sans-Serif;;*/
    /*font-size: 13px !important;
    height: 100%;*/
    /*background: url("/img/Lanfar/bg.jpg") 0 0 repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    font-family: Arial;
    font-size: 12px !important;
    /*height: 100%;*/
    max-width: 100%;
    height: auto;
    /*width:100%;
	height:100%;
	background:url("/img/Lanfar/bg.jpg") 0 0 repeat;
	margin:0;
	padding:0;*/
}
