﻿.checkbox td
{
    border: 0;
}


/* GridView */
/* Begin */

div.container-fluid div.box div.box-content
{
    overflow-x: scroll;
}

.table tr th, .table tr td
{
    padding: 5px 5px 5px 5px;
    border-top: 1px dotted #ddd;
    white-space: nowrap;
}

.wizardButton, input[type="submit"].wizardButton
{
    display: inline-block;
    color: black;
    background-color: transparent;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 0px 7px;
    height: 100%;
    vertical-align: middle;
    width: 19% !important;
}

    .wizardButton i
    {
        font-style: normal;
        padding-right: 5px;
    }

/* Payment_Type_GridView */
/* Begin */

.Amount
{
    text-align: right;
}

/* End */

/* Ajax_Editor_In_GridView */
/* Begin */

.editorTest td, .editorTest td img
{
    line-height: 0;
    padding: 0 !important;
}


/* End */

/* End */
