﻿/* Normal Control */

.login .wrapper
{
    width: 400px;
    height: auto;
    margin: 100px -200px;
    position: absolute;
    left: 50%;
}

    .login .wrapper h1 > a
    {
        color: #fff;
        display: block;
        font-weight: 300;
        font-size: 48px;
        text-align: center;
        padding: 2px 0;
        text-decoration: none;
    }

        .login .wrapper h1 > a img
        {
            margin-right: 20px;
            margin-top: -8px;
        }

    .login .wrapper .login-body
    {
        margin-top: 10px;
        background: #fff;
        border: 1px solid rgb(45, 45, 45);
    }

        .login .wrapper .login-body #formLogin
        {
            padding: 0 20px;
        }

        .login .wrapper .login-body h2
        {
            font-weight: 300;
            color: #333;
            font-size: 24px;
            padding: 20px 30px 5px 20px;
        }

        .login .wrapper .login-body .email input, .login .wrapper .login-body .pw input
        {
            padding: 8px 12px;
            height: 35px;
        }

        .login .wrapper .login-body .submit
        {
            margin-top: 15px;
            *zoom: 1;
        }

            .login .wrapper .login-body .submit:after
            {
                content: "";
                display: table;
                clear: both;
            }

            .login .wrapper .login-body .submit input
            {
                float: right;
            }

        .login .wrapper .login-body .forget
        {
            margin-top: 20px;
        }

            .login .wrapper .login-body .forget a
            {
                background: #eee;
                padding: 10px 0;
                text-align: center;
                display: block;
                text-decoration: none;
                /*color: #86ba31;*/
            }

                .login .wrapper .login-body .forget a:hover
                {
                    background: #ddd;
                    color: black;
                }

                .login .wrapper .login-body .forget a span
                {
                    line-height: 30px;
                    margin-bottom: 10px;
                    position: relative;
                }


/*Mobile Control*/

@media (max-width: 1280px)
{
    .login .wrapper
    {
        margin-top: 100px !important;
    }
}

@media (max-width: 1024px)
{
    .login .wrapper
    {
        margin-top: 100px !important;
    }
}
