﻿form
{
    min-height: 87%;
    margin: 0 0 20px;
}

.locked .right form
{
    margin-top: 30px;
}

.form-actions
{
    padding: 19px 20px 20px;
    /*margin-top: 20px;
  margin-bottom: 20px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    *zoom: 1;
}

    .form-actions:before,
    .form-actions:after
    {
        display: table;
        line-height: 0;
        content: "";
    }

    .form-actions:after
    {
        clear: both;
    }

.container-fluid
{
    padding-right: 1%;
    padding-left: 1%;
    *zoom: 1;
}

    .container-fluid:before,
    .container-fluid:after
    {
        display: table;
        line-height: 0;
        content: "";
    }

    .container-fluid:after
    {
        clear: both;
    }
