﻿.cutomize-div-form-group
{
    position: relative;
    min-height: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.progressTest
{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: rgba(98, 98, 113, 0.46);
    color: white;
}

    .progressTest label
    {
        font-family: 'Century Gothic';
        font-size: 25px;
        text-shadow: none;
        color: white;
        font-weight: bold;
        vertical-align: middle;
        text-align: center;
        display: block;
        margin-top: 200px;
    }

    .progressTest img
    {
        width: 40px;
        vertical-align: middle;
    }


.imgTest img.imgTest2, .container .imgTest img.imgTest2
{
    vertical-align: middle;
    max-height: 70px;
    max-width: 70px;
    height: auto;
    width: auto;
}

.imgTest img.displayImgTest, .container .imgTest img.displayImgTest
{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px groove;
    border-color: inherit;
    background-color: white;
    position: absolute;
    float: left;
    width: auto;
    height: auto;
    z-index: 99999;
    max-height: 300px;
    max-width: 300px;
    visibility: hidden;
}

.imgTest:hover img.displayImgTest, .container .imgTest:hover img.displayImgTest
{
    visibility: visible;
}

.table .calendarTest tr td, .table .calendarTest tr th
{
    border: 0px solid #DAF2FC;
    margin: 0;
    height: 0;
    padding: 0px;
    position: static;
}

.editorTest td
{
    line-height: 0;
}

tr.editorTest td img
{
    padding: 0px;
}

.floatR
{
    float: right;
    position: static;
}

.box-bordered div.box-content > div.box-content
{
    border: 0;
    /*border-right: 0;*/
}

ul.icon-nav > li.dropdown > #ddlCulture
{
    margin-top: 7px;
    margin-bottom: 0px;
    margin-right: 10px;
    height: 25px;
    line-height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

span.checkBoxLOI > input, span.checkBoxLOI > label
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

span.checkBoxLOI > label
{
    margin-left: 10px;
    width: 90%;
}

.table tr td.nestedGridView
{
    padding: 0;
    margin: 0;
}

td.nestedGridView > div > div.box-content
{
    padding: 0;
    margin: 0;
    /*border-top: solid 2px !important;*/
    /*border-right: 0px !important;*/
}
