﻿
/*Shopping Cart Css*/

.productImg, .productInformation
{
    float: left;
    border: 0;
}

.productImg
{
    width: 30%;
    min-height: 200px;
}

    .productImg > div
    {
        border: 1px solid #ddd;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 177px;
    }

        .productImg > div > img
        {
            border: 0;
            max-width: 300px;
            max-height: 300px;
            margin: auto;
            margin-top: 1%;
            display: block;
        }

.productInformation
{
    margin-left: 20px;
    width: 60%;
}

.productdesc > ul.nav-tabs
{
    display: block;
    display: table;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #ddd !important;
}

    .productdesc > ul.nav-tabs > li
    {
        padding: 0;
        margin: 0;
        margin-bottom: -1px;
        border-bottom: 1px solid white;
    }

        .productdesc > ul.nav-tabs > li > a
        {
            border: 1px solid #ddd;
            border-bottom-width: 0;
            padding: 7px 20px;
            margin: 0;
        }

.tab-content
{
    border: 1px solid #E7E7E7;
}

    .tab-content > .tab-pane
    {
        margin: 15px;
        display: none;
    }

        .tab-content > .tab-pane.Active
        {
            display: block;
        }


div.quantitybox > div > input.addToCart, .box .block input.buttonCheckOut
{
    cursor: pointer;
    border: 0;
    min-width: 100px !important;
    height: 30px !important;
    background-color: #ff5100;
    color: white;
    text-align: justify;
    display: inline-block !important;
    text-indent: 0;
}

    div.quantitybox > div > input:hover, .box .block input.buttonCheckOut:hover
    {
        opacity: 0.5;
        color: black;
    }

div.quantitybox > div > input.back, .box .block input.back
{
    background-color: #AAAAAA !important;
}

div.quantitybox > div > label
{
    display: inline-block !important;
    height: 30px;
    width: auto !important;
    padding-right: 10px;
}

div.quantitybox > div > input.small
{
    display: inline-block !important;
    height: 30px;
    margin: 0;
    width: 10% !important;
    text-align: right;
    padding: 0 5px;
}

.radioCart input[type="radio"], .radioCart label
{
    display: inline-block !important;
    margin: 0;
    height: auto !important;
    vertical-align: middle;
}

.radioCart label
{
    margin: 6px 0px 10px 5px;
    /*margin-top: 6px;
    margin-left: 5px;
    margin-bottom: 10px;*/
    width: 8em !important;
    float: none !important;
}

input.grid_textbox
{
    margin: 0;
    width: 80% !important;
    text-align: right;
    padding: 0 5px;
}

    input.grid_textbox:disabled
    {
        cursor: not-allowed;
    }

/*input.addToCart img
{
    background-image: url('/images/lite_toggle.png');
    background-position: 10px 8px;
     transform: rotate(180deg);
    -ms-transform: rotate(180deg);*/ /*IE 9*/
/*-webkit-transform: rotate(180deg);*/ /* Safari and Chrome */
/*}*/

table.shoppingCartTable
{
    /*width: 1000px;*/
}

    table.shoppingCartTable tr > td
    {
        padding: 10px 20px;
        vertical-align: middle;
        float: left;
        border: 1px solid #dddddd;
        border-spacing: 1px;
    }

.shoppingCartTable tr > td > div > a > div
{
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #dddddd;
    margin-bottom: 100px;
}

    .shoppingCartTable tr > td > div > a > div > img
    {
        max-height: 100%;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

.shoppingCartTable tr > td > div > a.productname
{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #ff5100;
}

    .shoppingCartTable tr > td > div > a.productname:hover
    {
        text-decoration: underline;
    }

.pagination > span > input[type="submit"]:first-of-type
{
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
    padding: 4px 12px;
}

.pagination > span > input[type="submit"]:last-of-type
{
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    padding: 4px 12px;
}

.pagination span > input[type="submit"],
.pagination span > span, .pagination span > a,
tr.pagination > td > table td > span,
tr.pagination > td > table td > a
{
    margin: 0;
    float: left;
    padding: 4px 12px;
    line-height: 20px !important;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
    height: auto !important;
}

    .pagination span > span, .pagination span > input[type="submit"]:hover:enabled,
    .pagination span > span:hover, .pagination span > a:hover,
    tr.pagination > td > table td > span,
    tr.pagination > td > table td > a:hover
    {
        background-color: #f5f5f5;
    }

        .pagination span > span, .pagination span > input[type="submit"]:hover,
        .pagination span > span:hover, .pagination span > a:hover,
        tr.pagination > td > table td > span,
        tr.pagination > td > table td > a:hover
        {
            border-color: #dddddd;
        }

.pagination span > span, tr.pagination > td > table td > span
{
    color: #999999;
    cursor: default;
}

tr.pagination > td, tr.pagination > td > table td
{
    padding: 0;
}

tr.pagination > td
{
    padding: 5px 0px;
    padding-left: 10px;
}

div.floatR, .floatR div
{
    display: inline-block;
    /*position: absolute;*/
    margin-right: 30px;
    /*width: 20%;*/
    float: right;
}

.box .block .cartPricing label, .box .block .cartPricing div, .box .block .cartPricing span
{
    display: inline-table;
}

.box .block .cartPricing > label
{
    display: inline-table;
}

.cartPricing label
{
    float: none !important;
}

div.quantitybox > div > input.addToCart:disabled, .box .block input.buttonCheckOut:disabled
{
    cursor: not-allowed;
    background-color: black;
    opacity: 0.4;
    text-decoration: line-through;
}

    div.quantitybox > div > input.addToCart:disabled:hover, .box .block input.buttonCheckOut:disabled:hover
    {
        color: white;
    }

.shoppingCartTable
{
    margin: 10px;
}

    .shoppingCartTable tr > td
    {
        margin-right: 20px;
    }

.productInformation .nav-tabs > li > a
{
    border: 1px solid #ddd;
}

.productInformation .nav
{
    margin: 0;
}

.productInformation .tab-content
{
    border-top: 0px solid;
}

    .productInformation .tab-content .block
    {
        padding: 10px;
    }

a.cart
{
    display: inline;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    font-size: 25px;
    float: right;
    /*padding-left: 10px;*/
    margin: 8px 5px 0 -5px;
    position: relative;
    z-index: 2;
}

a.member-profile label:hover, #navigation .user > a.cart:hover
{
    cursor: pointer;
    color: rgb(252, 96, 0);
}

div.user a
{
    color: white;
}

.cart:before
{
    content: "\f07a";
    padding-right: 5px;
}

.cart div, .cart div span
{
    display: inline;
}

.cart span
{
    font-size: 12px;
    /*color: red;
    vertical-align: middle;
    margin-right: -20px;
    margin-top: -5px;
    position: relative;
    z-index: 1;*/
}

div.price, div.productname
{
    width: 172px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
